body {
  font-family: "Raleway";
  background-image: url('assets/img/prism.jpg');
}
.contents {
  margin: 60px 10% 0px;
  color: #fff
}
h1 {
  font-size: 60px;
  margin: 210px 0px 60px;
  text-align: center;
}
p {
  font-size: 18px;
}
